<!-- This is views/updateNameFailed.ejs -->
Failed to update the entered username. <br>
Either no new username was entered or another user has this username already.
<p>
<a href="/user/<%= user.userName %>"> Back to user info</a>
</p>
<p>
<a href='/view'>Back to view all users</a>
</p>
<a href='/public/index.html'>Back to index</a>
