<!-- This is views/addHabitFailed.ejs -->
New habit was not created. A field was not entered or this habitName already exists.
<p>
<a href='/user/<%= user.userName %>'>Go back to user</a>
<p>
<a href='/public/index.html'>Back to index</a>
