<!-- This is views/addOptionFailed.ejs -->
Option not added: the field was empty
<p>
<a href="/survey/<%= survey.surveyName %>"> Back to survey info</a>
</p>
<a href='/public/index.html'>Back to index</a>
