<!-- This is views/addSurveyFailed.ejs -->
Survey was not created. A field was not entered or a survey with this name already exists.
<p>
<a href='/public/addSurveyForm.html'>Add a new survey</a>
<p>
<a href='/public/index.html'>Back to index</a>
