<!-- This is views/addUserFailed.ejs -->
New user was not created. A field was not entered or this username already exists.
<p>
<a href='/public/addUserForm.html'>Add a new user</a>
<p>
<a href='/public/index.html'>Back to index</a>
