<!-- This is views/deleteUserFinished.ejs -->

The user with username
<%= userDeleted %> is removed from the data.
<p>
    <a href='/view'>Back to view all users</a>
</p>
<a href='/public/index.html'>Back to index</a>