<!-- This is views/deleteUserFinished.ejs -->

<p>
    Username: <input name='userName' value='<%= user.userName %>'>
</p>
<p>
    Password: <input name='password' value='<%= user.password %>'>
    <input type='submit' value='Update'>
</p>

User with the username and password above is deleted from the data.

<br><a href='/view'>View all users</a>