<!-- This is views/deleteSurveyFinished.ejs -->

The survey named
<%= surveyDeleted %> has been removed from the data.
<p>
    <a href='/surveys'>Back to view all surveys</a>
</p>
<a href='/public/index.html'>Back to index</a>