<!-- This is views/goToUserHabits.ejs -->
Here are the user's habits:
<ul>
<% user.habits.forEach( () => { %>
    <li><a href = "/user/<%= user.habits%>" >
    <%= user.habits %></a>
    </li>
<% }); %>
</ul>
<p>
    <a href='/user/:name'>Back to view user's information</a>
</p>