<!-- This is views/updateOptionFailed.ejs -->
Failed to update the option. <br>
The field was not filled.
<p>
<a href="/survey/<%= survey.surveyName %>"> Back to survey info</a>
</p>
<p>
<a href='/surveys'>Back to view all surveys</a>
</p>
<a href='/public/index.html'>Back to index</a>
