<!-- This is views/updateResponseFailed.ejs -->
Failed to update the response. <br>
<%if (reason == 'optionMatching') { %>
<p>
Response does not match any of the available options.
</p>
<% } %>
<%if (reason == 'emptyFields') { %>
<p>
Field not filled.
</p>
<% } %>

<p>
<a href="/survey/<%= survey.surveyName %>"> Back to survey info</a>
</p>
<p>
<a href='/surveys'>Back to view all surveys</a>
</p>
<a href='/public/index.html'>Back to index</a>
