<!-- This is views/updateHabitName.ejs -->

<p>
    This habit's name changed to
    <%= habit.habitName %>
</p>
<p>
    <a href="/habit/<%= user %>/<%= habit.habitName %>">Back to habit info</a>
</p>
