<!-- This is views/updatePassword.ejs -->

<p>
    This user has password changed to <%= user.password %>
</p>
<p>
    <a href="/user/<%= user.userName %>"> Back to user info</a>
</p>
<p>
    <a href='/view'>Back to view all users</a>
</p>
<a href='/public/index.html'>Back to index</a>