<!-- This is views/updateQuestion.ejs -->

<p>
    This survey's question changed to <%= survey.question %>
</p>
<p>
    <a href="/survey/<%= survey.surveyName %>"> Back to survey info</a>
</p>
<p>
    <a href='/surveys'>Back to view all surveys</a>
</p>
<a href='/public/index.html'>Back to index</a>