<!-- This is views/updateNameFailed.ejs -->
Failed to update the entered habit name. <br>
Either no new habit name was entered or another habit has this name already.
<p>
<a href="/habit/<%= user %>/<%= habit.habitName %>">Back to habit info</a>
</p>
