<!-- This is views/updatePasswordFailed.ejs -->
No new password was entered.
<p>
<a href="/user/<%= user.userName %>"> Back to user info</a>
</p>
<p>
<a href='/view'>Back to view all users</a>
</p>
<a href='/public/index.html'>Back to index</a>
