<!-- This is views/viewAll.ejs -->
Here are all the users:
<ul>
<% user.forEach( (user) => { %>
	<li><a href="/user/<%= user.userName %>">  
	<%= user.userName %></a> 
	</li>
<% }); %>
</ul>	
<br><a href='/public/index.html'>Back to index</a>
