<!-- This is views/viewUserInfo.ejs -->
<!-- You can see the data of a single user: their name, password, and a list of habits -->

<form action='/updateUsername' method='post'>
    <p>
        Username: <input name='userName' value='<%= user.userName %>'>
        <input type='submit' value='Update'>
    </p>
</form>
<form action='/updateUserPassword' method='post'>
    <p>
        Password: <input name='password' value='<%= user.password %>'>
        <input type='submit' value='Update'>
    </p>
</form>
<form action='/deleteUser' method = 'post'>
    <input type='submit' value='Delete User'>
</form>
<br><a href='/view'>View all users</a>